Players successfully created, <%= @player_1.name %> vs. <%= @player_2.name %>

<%= @player_2.name %> hp = <%= @player_2.hp %>

<form action = "/attack" method= "POST">
<input type="submit" value="attack">
</form>
